body{
    background-color: antiquewhite;
}

h2{
    color: blue;
    text-align: center;
}

p{
    color: black;
    background-color: antiquewhite;
    text-align: center;
}

table, form{
    text-align: center;
}
