p, li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

table, form, p, h2{
    text-align: center;
}

body{
    background-color: antiquewhite;
}

h2{
    color: blue;
    background-color:aqua;
}

p{
    color: black;
    background-color: antiquewhite;

    text-transform: initial;
}


a{
    text-decoration: none;
}

nav{
    line-height:1.5;
    font-size: 18px;
}

/* The descendant combinator makes our code hard to mantain */
nav ul li{
    margin-left: 25px;
}

.text_container{
    width: 70%;
    margin: auto;
    padding: 5px 10px;
    border: 6px 12px;

    background-color: whitesmoke;
}