body{
    background-color: antiquewhite;
}

h2{
    color: blue;
    text-align: center;
    background-color:aqua;
}

p{
    color: black;
    background-color: antiquewhite;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}


table, form{
    text-align: center;
}


.text_container{
    width: 70%;
    margin: auto;
    padding: 5px 10px;
    border: 6px 12px;

    background-color: whitesmoke;
}